*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  box-sizing: border-box;

  font-family: $primary-font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input,
button {
  box-sizing: border-box;

  font-family: $primary-font;

  border: unset;
  outline: none;
}

a {
  color: unset;
  text-decoration: none;

  outline: none;

  &:focus {
    outline: none;
  }
}

ol,
ul {
  padding: 0;

  list-style: none;
}

.link {
  position: relative;

  color: $color-brand;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  transition: $transition-default;

  &::before {
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-brand;

    transition: $transition-default;

    content: '';
  }

  &:hover {
    color: $color-black;

    &::before {
      background-color: $color-black;
    }
  }
}
